<template>
<div id="container">
         <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-840"></h1>
            <router-link to="" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" v-b-modal.modalPrevent @click="showModal" id="showBtn"><i class="fas fa-download fa-sm text-white-50"></i>novo Funcionario</router-link>
          </div>
    <b-modal
      id="modalPrevent"
      ref="modal"
      title="Submit your name"
      @ok="handleOk"
      @shown="clearName"
    >
      <form @submit.stop.prevent="handleSubmit">
        <div class="form-group">
        <b-form-input type="text" placeholder="Enter your name" v-model="name" />
        </div>
        <div class="form-group">
        <b-form-input type="text" placeholder="escreva o Email" v-model="email" />
        </div>

        <div class="form-group">
        <b-form-input type="text" placeholder="Telefone" v-model="telefone" />
        </div>

        <div class="form-group">
        <b-form-input type="text" placeholder="Password" v-model="password" />
        </div>
      </form>
    </b-modal>
    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Utilizador</th>
      <th scope="col">Email</th>
      <th scope="col">Contacto</th>
      <th scope="col">Operacoes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>111111</td>
      <td style="text-align: center;">
          <router-link to="">
            <button type="button" class="btn btn-primary">
                <i class="fa fa-edit"></i>
            </button>
          </router-link>
          <router-link to="">
            <button type="button" class="btn btn-primary">
                <i class="fa fa-trash"></i>
            </button>
          </router-link>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td>111111</td>
      <td style="text-align: center;">
          <router-link to="">
            <button type="button" class="btn btn-primary">
                <i class="fa fa-edit"></i>
            </button>
          </router-link>
          <router-link to="">
            <button type="button" class="btn btn-primary">
                <i class="fa fa-trash"></i>
            </button>
          </router-link>
      </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <td>111111</td>
      <td style="text-align: center;">
          <router-link to="">
            <button type="button" class="btn btn-primary">
                <i class="fa fa-edit"></i>
            </button>
          </router-link>
          <router-link to="">
            <button type="button" class="btn btn-primary">
                <i class="fa fa-trash"></i>
            </button>
          </router-link>
      </td>
    </tr>
  </tbody>
</table>
</div>
</template>
<script>
  export default {
    data() {
      return {
        name: '',
        names: []
      }
    },
    methods: {
      clearName() {
        this.name = '',
        this.email = '',
        this.telefone = '',
        this.password = ''
      },
      handleOk(evt) {
        // Prevent modal from closing
        evt.preventDefault()
        if (!this.name) {
          alert('Please enter your name')
        } else {
          this.handleSubmit()
        }
      },
      handleSubmit() {
        this.names.push(this.name)
        this.clearName()
        this.$nextTick(() => {
          // Wrapped in $nextTick to ensure DOM is rendered before closing
          this.$refs.modal.hide()
        })
      }
    }
  }
</script>