<template>
    <div class="perfil">
        <div class="container">
    <div class="fb-profile">
        <img align="left" class="fb-image-lg" src="http://lorempixel.com/850/280/nightlife/5/" alt="Profile image example"/>
        <img align="left" class="fb-image-profile thumbnail" src="http://lorempixel.com/180/180/people/9/" alt="Profile image example"/>
        <div class="fb-profile-text">
            <h1>Eli Macy</h1>
            <p>Girls just wanna go fun.</p>
        </div>
    </div>
      </div>
      <form>
  <div class="row" style="    padding-left: 50px;">
    <div class="col-sm-4">
      <input type="text" class="form-control" placeholder="First name">
    </div>
    <div class="col-sm-4">
      <input type="text" class="form-control" placeholder="Last name">
    </div>
    <div class="col-sm-4">
      <input type="text" class="form-control" placeholder="Last name">
    </div>
    <div class="input-group col-sm-5" style="padding-top: 15px;">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
  </div>
  <div class="custom-file">
    <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
  </div>
</div>
  </div>
</form>
    </div>
</template>
<style>
 .fb-profile img.fb-image-lg{
    z-index: 0;
    width: 100%;  
    margin-bottom: 10px;
}
.fb-profile{
    padding-top: 40px;
}
.fb-image-profile
{
    border: 5px;
    margin: -90px 10px 0px 50px;
    z-index: 9;
    width: 20%; 
}

@media (max-width:768px)
{
    
.fb-profile-text>h1{
    font-weight: 700;
    font-size:16px;
}

.fb-image-profile
{
    margin: -45px 10px 0px 25px;
    z-index: 9;
    width: 20%; 
}
}
</style>

