<template>
   <div id="container">
         <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-840"></h1>
            <router-link to="" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" v-b-modal.modalPrevent @click="showModal" id="showBtn"><i class="fas fa-download fa-sm text-white-50"></i> Criar nova Newsletter</router-link>
          </div>
    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Titulo</th>
      <th scope="col">Assunto</th>
      <th scope="col">Criado em </th>
      <th scope="col">Editado em </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td style="text-align: center;">
          <router-link to="">
            <button type="button" class="btn btn-primary">
                <i class="fa fa-edit"></i>
            </button>
          </router-link>
          <router-link to="">
            <button type="button" class="btn btn-primary">
                <i class="fa fa-trash"></i>
            </button>
          </router-link>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td style="text-align: center;">
          <router-link to="">
            <button type="button" class="btn btn-primary">
                <i class="fa fa-edit"></i>
            </button>
          </router-link>
          <router-link to="">
            <button type="button" class="btn btn-primary">
                <i class="fa fa-trash"></i>
            </button>
          </router-link>
      </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <td style="text-align: center;">
          <router-link to="">
            <button type="button" class="btn btn-primary">
                <i class="fa fa-edit"></i>
            </button>
          </router-link>
          <router-link to="">
            <button type="button" class="btn btn-primary">
                <i class="fa fa-trash"></i>
            </button>
          </router-link>
      </td>
    </tr>
  </tbody>
</table>
<b-modal ref="modal" id="modalPrevent" hide-footer title="Using Component Methods">
  <div class="">
    <div class="form-group">
        <input type="text" v-model="titulo" placeholder="Titulo">
    </div>
    <div class="form-group">
        <input type="text" v-model="descricao" placeholder="Descricao">
    </div>
    <div>
    <div class="form-group">
    <select v-model="selected"  :options="options"  class="custom-select">
      
    </select>
    </div>
    </div>

    <yimo-vue-editor v-model="text"></yimo-vue-editor>
  </div>
  <b-button class="mt-3" variant="outline-danger" block @click="hideModal">Close Me</b-button>
</b-modal>
   </div>
</template>
<script>
import YimoVueEditor from 'yimo-vue-editor'
export default {
    data () {
        return {
            selected: null,
            options: [
                {value: null, text: 'place select an option'},
                {value: 'a', text: 'this is First option'},
                {value: 'b', text: 'this is second option'},
                {value: 'c', text: 'this one is disabled', disabled: true}
            ]
        }
    },
    components: {
        YimoVueEditor
    },
    methods: {
      clearName() {
        this.name = '',
        this.email = '',
        this.telefone = '',
        this.password = ''
      },
      handleOk(evt) {
        // Prevent modal from closing
        evt.preventDefault()
        if (!this.name) {
          alert('Please enter your name')
        } else {
          this.handleSubmit()
        }
      },
      handleSubmit() {
        this.names.push(this.name)
        this.clearName()
        this.$nextTick(() => {
          // Wrapped in $nextTick to ensure DOM is rendered before closing
          this.$refs.modal.hide()
        })
      }
    }
}
</script>

<style>
    #container {
    padding-left: 75px;
    padding-top: 50px;
}
    .table {
    width: 110%
    }
</style>

