<template>
<div class="home">
  <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Company name</a>
  

  <ul class="navbar-nav" id="right-nav">
    <li class="nav-item">
      <router-link class="nav-link" to="#">
        <i class=" cima fa icono fa-envelope"></i>
      </router-link>
    </li>
     <li class="nav-item">
      <router-link class="nav-link" to="#">
        <i class=" cima fa icono fa-bell"></i>
      </router-link>
    </li>
    <li class="nav-item dropdown">
      <router-link class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" to="#">
        <i class=" cima fa fa-user"></i>
       </router-link>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </li>  
  </ul>
</nav>  
<div class="container-fluid">
  <div class="row">
    <nav id="navSide" class="col-md-2 d-none d-md-block  sidebar" style="position: fixed;
    height: 100%;">
      <div class="sidebar-sticky">
        <ul class="nav flex-column" style="padding-top: 75px;">
          <li class="nav-item">
            <router-link class="nav-link active" to="/dashboard">
              <i class="icono esque fa fa-tachometer-alt"></i><span data-feather="home"></span>
              Dashboard <span class="sr-only">(current)</span>
            </router-link>
          </li>
          <li class="nav-item">
            <router-link class="nav-link" to="/funcionarios">
              <i class=" icono esque fa fa-user-friends"></i><span data-feather="file"></span>
              Funcionario
            </router-link>
          </li>
          <li class="nav-item">
            <router-link class="nav-link" to="/newslater">
              <i class="icono esque fa fa-user-friends"></i><span data-feather="file"></span>
              NewsLater
            </router-link>
          </li>
          <li class="nav-item">
            <router-link class="nav-link" to="/membros">
              <i class="icono esque fa fa-users"></i><span data-feather="shopping-cart"></span>
              Membros
            </router-link>
          </li>
          <li class="nav-item">
            <router-link class="nav-link" to="/perfil">
             <i class="icono esque fa fa-user"></i><span data-feather="shopping-cart"></span>
             Perfil
            </router-link>
          </li>
        </ul>
      </div>
    </nav>
    </div>

<main role="main" class="container" style="padding-left: 135px;">
 <router-view></router-view>
</main>
  </div>
 </div>
</template>

<script>
// @ is an alias to /src
//import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: 'home',
  
}
</script>
<style>

#right-nav {
    flex-direction: row!important;
}
#right-nav .nav-item {
  display: inline!important;
  margin-right: 10px;
}







body{
    background-color: #eee;
}
#navSide{
background: #418CB6;
}


.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 1px;
    margin-right: auto;
    margin-left: auto
}
.container-fluid li a {
  display: block;
  color: white;
}
.container-fluid li {
  list-style: none;
}
.container-fluid li a:hover {
  background: #1a95d5;
  color: rgb(152, 233, 233);
}

.container-fluid .icono{
  font-size: 12px;
  line-height: 18px;
}
.container-fluid .icono.esque {
  float: left;
  margin-right: 15px;
}

.container {
  padding-left: 125px;
  padding-top: 10px;
  
  
}
.nav-item.cima {
  width: 10px;
}



</style>
