<template>

    <div class="box">
      <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800"></h1>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" @click="showModal" id="showBtn"><i class="fas fa-download fa-sm text-white-50"></i> Novo Membro</a>
          
          </div>
        <div class="row">
       
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
           
            <div class="box-part text-center">
                <router-link to="" class="posts-item">
                <figure>
                  <div class="round-container">
                    <img src="../../assets/img/dercio.jpg" alt=""></div>
                </figure>

              <div class="title">
                <h4>Joao Gaspar</h4>
              </div>

              <div class="text">
                <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta
                  ocurreret qui ad.</span>
              </div>
              </router-link>

              <a href="#">Learn More</a>

            </div>
          </div>
        
        

          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            
            <div class="box-part text-center">
               <router-link to="">

              <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>

              <div class="title">
                <h4>Twitter</h4>
              </div>

              <div class="text">
                <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta
                  ocurreret qui ad.</span>
              </div>
               </router-link>

              <a href="#">Learn More</a>

            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

            <div class="box-part text-center">

              <i class="fa fa-facebook fa-3x" aria-hidden="true"></i>

              <div class="title">
                <h4>Facebook</h4>
              </div>

              <div class="text">
                <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta
                  ocurreret qui ad.</span>
              </div>

              <a href="#">Learn More</a>

            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

            <div class="box-part text-center">

              <i class="fa fa-pinterest-p fa-3x" aria-hidden="true"></i>

              <div class="title">
                <h4>Pinterest</h4>
              </div>

              <div class="text">
                <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta
                  ocurreret qui ad.</span>
              </div>

              <a href="#">Learn More</a>

            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

            <div class="box-part text-center">

              <i class="fa fa-google-plus fa-3x" aria-hidden="true"></i>

              <div class="title">
                <h4>Google</h4>
              </div>

              <div class="text">
                <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta
                  ocurreret qui ad.</span>
              </div>

              <a href="#">Learn More</a>

            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

            <div class="box-part text-center">

              <i class="fa fa-github fa-3x" aria-hidden="true"></i>

              <div class="title">
                <h4>Github</h4>
              </div>

              <div class="text">
                <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta
                  ocurreret qui ad.</span>
              </div>

              <a href="#">Learn More</a>

            </div>
          </div>

        </div>
      </div>
       <b-modal ref="myModalRef" hide-footer title="Using Component Methods">
      <div class="d-block text-center">
        <h3>Hello From My Modal!</h3>
      </div>
      <b-button class="mt-3" variant="outline-danger" block @click="hideModal">Close Me</b-button>
      <b-button class="mt-2" variant="outline-warning" block @click="toggleModal">Toggle Me</b-button>
    </b-modal>
    </div>
</template>
<script>
  export default {
    methods: {
      showModal() {
        this.$refs.myModalRef.show()
      },
      hideModal() {
        this.$refs.myModalRef.hide()
      },
      toggleModal () {
        this.$refs.myModalRef.toggle('#toggleBtn')
      }
    }
  }
</script>
<style>
  span {
    font-size: 15px;
  }

  .box {
    padding: 60px 0px;
  }

  .box-part {
    background: #FFF;
    border-radius: 0;
    padding: 60px 10px;
    margin: 30px 0px;
  }
  .posts .posts-item img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5rem;
  background-position: center center;
}
.posts.round .round-container img {
  width: auto;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
figure img {
  border-radius: 100%;
  width: 5rem;
  height: 5rem;
}

  .text {
    margin: 20px 0px;
  }

</style>